
<div class="cardPosition" style="min-height: 100vh">
  <div class="card">
    <img class="imgSize" src="assets/img/mechanische-zahnrader.svg">
    <div class="col-md-6">
      <div class="card-body">
        <h1 class="card-title labelFont">Anmelden</h1>
        <form>
          <div class="form-group">
            <label class="labelFont" for="workerId">Mitarbeiternummer:</label>
            <input type="email" class="form-control inputShadow" id="workerId" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label class="labelFont" for="passwordInput">Passwort:</label>
            <input type="password" class="form-control inputShadow" id="passwordInput">
          </div>
          <div class="btnPosition">
            <button type="submit" class="btn btnDesign inputShadow" routerLink="/overview">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
